body {
    margin: 0;
    margin-top: 50px;
    font-family: Georgia;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 244, 215, 0.922);
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

.topleft {
    position: absolute;
    top: 2px;
    left: 70px;
    font-size: 21px;
  }

p.thick {
  font-weight: bold;
}

.topright {
    position: absolute;
    top: 2px;
    right: 16px;
    font-size: 21px;
  }

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

#about .profile-img {
    width: 230px;
    position: absolute;
    right: 120px;
    border-radius: 50%;
}

#about .profile-img2 {
    width: 230px;
    position: absolute;
    left: 160px;
    top: 1250px;
    border-radius: 50%;
}

#contact .profile-img {
    width: 35px;
    /* position: absolute;
    left: 634px;
    top: 2153px; */
    border-radius: 50%;
}

#contact .profile-img2 {
    width: 35px;
    /* position: absolute;
    left: 630px;
    top: 2093px; */
    border-radius: 50%;
}

#contact .profile-img3 {
    width: 35px;
    /* position: absolute;
    left: 540px;
    top: 2275px; */
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 244, 215, 0.922);
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 3.5em;
}

section h3 {
    font-size: 2.5em;
}

section h4 {
    font-size: 1.5em;
}

section h5 {
    font-size: 1.0em;
}

header a {
    text-decoration: none;
    color: black;
}



#hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.10),rgba(255,255,255,0.10)), url('onepho.jpeg');
}

#about {
    background-image: linear-gradient(rgba(250, 241, 181, 0.25),rgba(250, 241, 181, 0.25)), url('twopho.jpg');
}

#contact {
    background-image: linear-gradient(rgba(254, 247, 218, 0.38),rgba(255, 243, 193, 0.38)), url('threepho.jpeg');
}

ul {
    padding-left: 0;
    text-align:center;
    list-style: none;
}